#para{
    background-color: yellow;
    color: brown;
}
#para:hover{
    font-size: 30px;
}
a:visited{
    color: chartreuse;
}
a:active{
    color: red;
}
a:hover{
    color: darkmagenta;
}